# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Administrator\Downloads\Compressed\cs229-2018-autumn-main\cs229-2018-autumn-main\problem-sets\PS1\src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
